.container {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: url('./talk.jpg');
  background-size: cover;
}
