.container {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: url('./talk.jpg');
  background-size: cover;
}
@media (max-width: 600px) {
  .container {
    min-height: 100vh;
    height: inherit;
    padding: 15px 0;
  }
}