* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
}
.profile {
  text-align: left;
}
.profile h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  letter-spacing: 1px;
  will-change: transform;
  transition: transform 0.1s linear;
  color: hsl(0, 0%, 83%);
}
.profile h3 {
  margin: 0;
  will-change: transform;
  transition: transform 0.1s linear;
  padding: 0 0 0 9px;
  color: hsl(0, 0%, 83%);
}
.profileImg {
  position: absolute;
  height: 90%;
  left: 0;
  bottom: -10px;
  transition: transform 0.2s linear, filter 0.8s;
  will-change: transform;
}
.imgContainer {
  opacity: 0.9;
  position: absolute;
  background: #5d0b3c;
  border-radius: 50%;
  height: 200vh;
  width: 50%;
  z-index: -1;
  left: -11%;
}
.bubble--p {
  margin: 0;
  transition: font-size 0.6s ease-in-out;
  color: #ffffff;
}

.bubble--experience .bubble--p {
  font-size: 16px !important;
}
.bubble--talks .bubble--p {
  font-size: 16px !important;
}
.bubble--resume .bubble--p {
  font-size: 16px !important;
}
.bubble--twitter i {
  font-size: 20px !important;
  transition: font-size 1s;
}
.bubble--linkedIn i {
  font-size: 20px !important;
  transition: font-size 1s;
}
.bubble--youtube span {
  font-size: 16px !important;
  transition: font-size 1s;
}
.bubble--talks span {
  font-size: 16px !important;
  transition: font-size 1s;
}
.bubble {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  transition: width 0.6s, height 0.6s, transform 1s ease-in-out;
  margin: 0;
}
.bubble--talks {
  height: 85px !important;
  width: 85px !important;
  background: #d9b310;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.bubble--twitter {
  height: 60px !important;
  width: 60px !important;
  background: #48aae6;
  cursor: pointer;
  text-decoration: none;
}
.bubble--youtube {
  background: #e8590c;
  height: 70px !important;
  width: 70px !important;
  cursor: pointer;
  text-decoration: none;
}
.bubble--linkedIn {
  height: 60px !important;
  width: 60px !important;
  background: #0077b5;
  cursor: pointer;
  text-decoration: none;
}
.bubble--resume {
  height: 100px !important;
  width: 100px !important;
  background: #f4c3a2;
  cursor: pointer;
  text-decoration: none;
}
.bubble--experience {
  height: 130px !important;
  width: 130px !important;
  background: #0b3c5d;
  cursor: pointer;
  text-decoration: none;
}
.contentContainer {
  display: flex;
  align-items: center;
}

.bubblesContainer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 500px;
  align-items: center;
}
.hide {
  width: 0;
  height: 0;
  top: 0;
}
img {
  display: block;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: hsla(0, 0%, 0%, 0.4);
}

@media (max-width: 600px) {
  .bubble {
    position: relative;
    margin: 15px 0;
  }
  .contentContainer {
    width: 90%;
  }
  .bubblesContainer {
    height: inherit;
    width: 100%;
    flex-direction: column;
  }
}
