* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
}
.profile {
  text-align: right;
}
.profile h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  letter-spacing: 1px;
}
.profile h3 {
  margin: 0;
}
.container {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bubble--experiance {
  height: 125px;
  width: 125px;
  background: #0B3C5D;
}
.bubble--talks {
  height: 75px;
  width: 75px;
  background: #D9B310;
}
.bubble--resume {
  height: 100px;
  width: 100px;
  background: #f4c3a2;
}
.bubble-p {
  margin: 0;
}
.bubble {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  transition: 1s;
}
.bubble--twitter {
  height: 50px;
  width: 50px;
  background: #48AAE6;
}
.bubble--youtube {
  background: #e8590c;
  height: 50px;
  width: 50px;
}
.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bubble--linkedIn {
  height: 50px;
  width: 50px;
  background: #0077B5;
}
.bubblesContainer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
}
.hide {
  width: 0;
  height: 0;
}