* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
}
.profile {
  text-align: left;
}
.profile h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  letter-spacing: 1px;
  will-change: transform;
  transition: transform 0.1s linear;
}
.profile h3 {
  margin: 0;
  will-change: transform;
  transition: transform 0.1s linear;
  padding: 0 0 0 9px;
}
.profileImg {
  position: absolute;
  height: 90%;
  left: 0;
  bottom: -10px;
  transition: transform 0.2s linear, filter 0.8s;
  will-change: transform;
}
.imgContainer {
  opacity: 0.9;
  position: absolute;
  background: #5d0b3c;
  border-radius: 50%;
  height: 200vh;
  width: 50%;
  z-index: -1;
  left: -11%;
}
.bubble--p {
  margin: 0;
  transition: font-size 0.6s ease-in-out;
  color: #fff;
}

.bubble--experiance .bubble--p {
  font-size: 16px !important;
}
.bubble--talks .bubble--p {
  font-size: 16px !important;
}
.bubble--resume .bubble--p {
  font-size: 16px !important;
}
.bubble--twitter i {
  font-size: 20px !important;
  transition: font-size 1s;
}
.bubble--linkedIn i {
  font-size: 20px !important;
  transition: font-size 1s;
}
.bubble--youtube i {
  font-size: 20px !important;
  transition: font-size 1s;
}
.bubble {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  transition: width 0.6s, height 0.6s, transform 1s ease-in-out;
  margin: 0;
}
.bubble--talks {
  height: 80px !important;
  width: 80px !important;
  background: #d9b310;
  transform: translate(-127.3px, -37.8px);
  cursor: pointer;
  text-decoration: none;
}
.bubble--twitter {
  height: 60px !important;
  width: 60px !important;
  background: #48aae6;
  transform: translate(90.7px, -3.12px);
  cursor: pointer;
  text-decoration: none;
}
.bubble--youtube {
  background: #e8590c;
  height: 60px !important;
  width: 60px !important;
  transform: translate(-92.7px, 56.5px);
  cursor: pointer;
  text-decoration: none;
}
.bubble--linkedIn {
  height: 60px !important;
  width: 60px !important;
  background: #0077b5;
  transform: translate(-58px, 116px);
  cursor: pointer;
  text-decoration: none;
}
.bubble--resume {
  height: 100px !important;
  width: 100px !important;
  background: #f4c3a2;
  transform: translate(61px, 106px);
  cursor: pointer;
  text-decoration: none;
}
.bubble--experiance {
  height: 125px !important;
  width: 125px !important;
  background: #0b3c5d;
  transform: translate(-8.3px, -13px);
  cursor: pointer;
  text-decoration: none;
}
.contentContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bubblesContainer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 500px;
  align-items: center;
}

.hide {
  width: 0;
  height: 0;
  top: 0;
}
